{% extends 'cms/base/cms_base.html' %}

{% block title %}CMS组管理{% endblock %}

{% block head %}
    <style>
        .top-group{
            text-align: right;
        }
    </style>
    <script>
        $(function () {
            $('#add-role-btn').click(function () {
                // 弹出对话框
                xtalert.alertOneInput({
                    'text': '请输入组名',
                    'confirmCallback': function (inputValue) {
                        // 发送ajax
                        xtajax.post({
                            'url': '/cms/cmsrole_manage/add_cmsrole/',
                            'data': {
                                'name': inputValue,
                            },
                            'success': function (data) {
                                if(data['code'] != 200){
                                    console.log(data);
                                    xtalert.alertInfoToast(data['message']);
                                }else{
                                    xtalert.alertSuccessToast('分组添加成功！');
                                    setTimeout(function () {
                                        // 重新加载这个页面
                                        window.location.reload();
                                    },1000);
                                }
                            }
                        });
                    }
                });
            });
        });

        $(function () {
            $('.delete-role-btn').click(function () {
                var self = $(this);
                xtalert.alertConfirm({
                    'msg': '您确定要删除这个分组吗？',
                    'confirmCallback': function () {
                        // 发送ajax
                        xtajax.post({
                            'url': '/cms/cmsrole_manage/delete_cmsrole/',
                            'data': {
                                'id': self.attr('data-role-id')
                            },
                            'success': function (data) {
                                if(data['code'] != 200){
                                    setTimeout(function () {
                                        xtalert.alertInfoToast(data['message']);
                                    },500)
                                }else{
                                    setTimeout(function () {
                                        xtalert.alertSuccessToast('删除成功！');
                                    },500);
                                    setTimeout(function () {
                                        window.location.reload();
                                    },1000);
                                }
                            }
                        });
                    }
                });
            });
        });

        $(function () {
            $('.edit-role-btn').click(function () {
                var self = $(this);
                // 弹出编辑框
                xtalert.alertOneInput({
                    'text': '请输入新组名',
                    'confirmCallback': function (inputValue) {
                        // 发送ajax
                        xtajax.post({
                            'url': '/cms/cmsrole_manage/edit_cmsrole/',
                            'data': {
                                'id': self.attr('data-role-id'),
                                'name': inputValue
                            },
                            'success': function (data) {
                                if(data['code'] != 200){
                                    xtalert.alertInfoToast(data['message']);
                                }else{
                                    xtalert.alertSuccessToast('组名修改成功！');
                                    setTimeout(function () {
                                        window.location.reload();
                                    },100);
                                }
                            }
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block page_title %}{{ self.title() }}{% endblock %}

{% block main %}
    <div class="top-group">
        <button class="btn btn-warning" id="add-role-btn">添加新分组</button>
    </div>
    <table class="table table-bordered">
        <thead>
            <td>组名</td>
            <td>创建时间</td>
            <td>cms用户数</td>
            <td>操作</td>
        </thead>
        <tbody>
            {% for role in cms_roles %}
                <tr>
                    <td>{{ role.name }}</td>
                    <td>{{ role.create_time }}</td>
                    <td>{{ role.users|length }}</td>
                    <td>
                        <button class="btn btn-primary btn-xs edit-role-btn" data-role-id="{{ role.id }}">编辑</button>
                        <button class="btn btn-danger btn-xs delete-role-btn" data-role-id="{{ role.id }}">删除</button>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}