<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'common/base/base_head.html' %}
    <link rel="stylesheet" href="{{ url_for('static',filename='front/account/css/front_sign.css') }}">
    <script src="{{ url_for('static',filename='front/account/js/regist.js') }}"></script>
    <title>潭州Python论坛注册</title>
</head>
<body>
    <div class="wrapper">
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static',filename='front/images/logo.jpg') }}" alt="">
            </a>
        </div>
        <h2 class="page-title">注册潭州Python论坛帐号</h2>
        <div class="sign-group">
            <form action="" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" placeholder="请输入手机号码" class="form-control" name="telphone" value="{{ telphone or '' }}">
                        <span class="input-group-addon btn btn-default" id="telphone-captcha-btn">获取验证码</span>
                    </div>
                </div>
                 <div class="form-group">
                        <input class="form-control" type="text" placeholder="短信验证码" name="telphone_captcha" value="{{ captcha or '' }}">
                    </div>
                <div class="form-group">
                    <input type="text" name="username" placeholder="用户名" class="form-control" value="{{ username or '' }}">
                </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="密码" name="password" value="{{ password or '' }}">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="确认密码" name="confirm_password" value="{{ confirm_password or '' }}">
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="图形验证码" name="graph_captcha">
                            <span class="input-group-addon captcha-addon"><img class="captcha-img" src="{{ url_for('common.captcha') }}" alt=""></span>
                        </div>
                    </div>
                    {% if message %}
                        <div class="form-group">
                            <p class="text-danger" style="text-align: center;">{{ message }}</p>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-warning">立即注册</button>
                    </div>
            </form>
        </div>
    </div>
</body>
</html>